
* {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
html {
    background: url("../images/normalbg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
ul {
    list-style: none outside none;
}
a:link, a:active, a:visited {
    color: #60762F;
}
a:hover {
    color: #000000;
}
body {
    background: url("../images/background.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
    color: #302A24;
    display: block;
    font: 12px Verdana,Geneva,sans-serif;
    height: 100%;
    width: 100%;
}
#wrap {
    margin: auto;
    width: 944px;
}
#ribbon {
    height: 145px;
}
#nav {
    height: 54px;
}
#homeheader {
    background: url("../images/header.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 285px;
}
h1#logo {
    color: #60762F;
    display: block;
    float: left;
    font: bold 46px Georgia,"Times New Roman",Times,serif;
    letter-spacing: -2px;
    padding: 46px 0 0 20px;
}

#intro {
    background: url("../images/open-bracket.gif") no-repeat scroll 0 38px rgba(0, 0, 0, 0);
    float: right;
    height: 90px;
    padding: 46px 10px 0 35px;
    width: 45%;
}
#intro p {
    display: block;
    float: left;
    }
.bracket-end {
    background: url("../images/end-bracket.gif") no-repeat scroll 0 38px rgba(0, 0, 0, 0);
    float: right;
    height: 135px;
    width: 30px;
}
#nav ul {
    display: block;
    list-style: none outside none;
    padding: 9px 5px 0 20px;
}
#nav li {
    display: inline;
    font: bold 18px "Trebuchet MS",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
#nav a {
    background: url("../images/menu1-right.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
    color: #F5F1E9;
    display: block;
    float: left;
    height: 45px;
    margin-right: 1px;
    text-decoration: none;
}
#nav a:active, #nav:visited {
    color: #F5F1E9;
    text-decoration: none;
}
#nav a span {
    background: url("../images/menu1-left.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 35px;
    margin-right: 6px;
    padding: 10px 10px 0 16px;
}
#nav a:hover {
    background: url("../images/menu2-right.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
    color: #FFFFFF;
    text-decoration: none;
}
#nav a:hover span {
    background: url("../images/menu2-left.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
}
#nav .current a {
    background: url("../images/menu2-right.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
    color: #FFFFFF;
    text-decoration: none;
}
#nav .current a span {
    background: url("../images/menu2-left.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
}

#homeheader {
    background: url("../images/header.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 285px;
}

div.tablaCentro{
	text-align:center;
}

div.tablaCentro table{
	margin:0 auto;
	text-align:left;
}

.tabladatos{
	
	padding:0px;
	margin:20px;
	position:relative;
	top:20px;
	background-color:#ffffff;
	border:solid thin black;
	border-spacing:  0px;
}
.tabladatos td{
	border:solid thin black;
	padding:7px;
}
.tabladatos th{
	border:solid thin black;
	padding:7px;
	background-color:#cacaca;
}


.tabladatos tr:nth_child(odd){
	background-color: #d0b391;
}

.tabladatos tr:nth_child (even){
	background-color: #F9EBBE;
}

